
/*  */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

input.ng-invalid.ng-dirty{
	border:1px solid red;
}

#sign-in .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #419641;
}
#sign-in .btn-success:hover {
    color: #fff;
    background-color: #419641;
    border-color: #398439;
}